/.vs
*.sdf
*.user
*.ipdb
*.iobj
*.ilk
*.exp
/robot/obj
/robot/bin
*.blend1
/control_ui/x64
/asr/x64
/models
/build
/Debug/*.dll
/Debug/*.lib
/Debug/*.pdb
/Debug/*.exe
/Release/*.dll
/Release/*.lib
/Release/*.pdb
/Release/*.exe
